
External/opencv-4.5.1/
External/SFML-2.5.1/
.vs/Graph/v16/.suo
.vs/Graph/v16/.suo
.vs/Graph/v16/Browse.VC.opendb
x64/
x64/Debug/Asteroids.exe
Debug/
x64/Debug/Asteroids.pdb
x64/Debug/Asteroids.exe
x64/Debug/Asteroids.ilk
x64/Debug/Asteroids.pdb
.vs/Graph/v16/.suo
.vs/Graph/v16/Browse.VC.db
.vs/Graph/v16/ipch/AutoPCH/35534c76e3e490c7/EVENTMANAGER.ipch
.vs/Graph/v16/Browse.VC.db
.vs/Graph/v16/ipch/AutoPCH/c840ae3706ca062f/GAMEMANAGER.ipch
.vs/AsteroidsGame/v16/Browse.VC.opendb
